<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 main">
            <h1 class="page-header">Cars</h1>

            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Reg</th>
                            <th>Make</th>
                            <th>Colour</th>
                            <th>Name</th>
                            <th>Mobile</th>
                            <th>Extension</th>
                            <th>Location</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-repeat="car in cars">
                            <td><a ui-sref="car({reg: car.reg})" data-ng-bind="car.reg"></a></td>
                            <td data-ng-bind="car.make"></td>
                            <td data-ng-bind="car.colour"></td>
                            <td><span data-ng-bind="car.firstName"></span> <span data-ng-bind="car.surname"></span></td>
                            <td data-ng-bind="car.mobile"></td>
                            <td data-ng-bind="car.extension"></td>
                            <td data-ng-bind="car.location"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>